.u-section-1 .u-sheet-1 {
  min-height: 1433px;
}

.u-section-1 .u-text-1 {
  width: auto;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 44px auto 0 7px;
}

.u-section-1 .u-text-2 {
  width: auto;
  font-size: 0.75rem;
  margin: 54px -2px 0 auto;
}

.u-section-1 .u-text-3 {
  width: auto;
  font-size: 0.75rem;
  margin: -19px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 15px;
  height: 15px;
  margin: -30px auto 0 17px;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  width: 279px;
  height: 3px;
  margin: -8px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 15px;
  height: 15px;
  margin: -10px 16px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 18px;
    margin-left: 223px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-right: 186px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 213px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 238px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -10px;
    margin-right: 229px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -12px;
    margin-right: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 26px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 62px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-left: 118px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -35px;
    margin-left: 137px;
  }

  .u-section-1 .u-line-1 {
    width: 445px;
    margin-right: 124px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -10px;
    margin-right: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 51px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -14px;
    margin-left: 44px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 60px;
  }

  .u-section-1 .u-line-1 {
    width: 412px;
    margin-top: -8px;
    margin-right: 56px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 44px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 54px;
    margin-right: -2px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -19px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -30px;
    margin-left: 17px;
  }

  .u-section-1 .u-line-1 {
    width: 279px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 16px;
    margin-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1433px;
}

.u-section-2 .u-text-1 {
  width: auto;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -1143px auto 0 24px;
}

.u-section-2 .u-image-1 {
  width: 69px;
  height: 71px;
  margin: 25px auto 0 17px;
}

.u-section-2 .u-text-2 {
  font-size: 0.625rem;
  width: auto;
  margin: -71px -38px 0 94px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px -515px 0 324px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  width: auto;
  margin: 79px 0 0 324px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  width: auto;
  margin: 26px 0 0 249px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  width: auto;
  margin: 27px 0 0 229px;
}

.u-section-2 .u-text-7 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -118px auto 0 17px;
}

.u-section-2 .u-text-8 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 80px 280px 0 0;
}

.u-section-2 .u-text-9 {
  width: auto;
  font-size: 1rem;
  font-weight: 700;
  margin: 35px auto 3px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 56px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: -1259px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -38px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -515px;
    margin-left: 515px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 121px;
    margin-right: -515px;
    margin-left: 515px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 73px;
    margin-right: -453px;
    margin-left: 453px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 73px;
    margin-right: -432px;
    margin-left: 432px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -211px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 467px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 80px;
    margin-bottom: 8px;
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 36px;
    margin-left: 15px;
  }

  .u-section-2 .u-image-1 {
    width: 88px;
    height: 105px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -88px;
    margin-right: 36px;
    margin-left: 104px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -15px;
    margin-right: 14px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 83px;
    margin-right: 14px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 48px;
    margin-right: 0;
    margin-left: 249px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 47px;
    margin-right: -7px;
    margin-left: 249px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -160px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 59px;
    margin-right: 265px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 51px;
    margin-bottom: 3px;
    margin-left: 8px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1434px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 89px auto 0 312px;
}

.u-section-3 .u-form-1 {
  height: 664px;
  background-image: none;
  margin: 29px 267px 60px 304px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-form-group-8 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  width: 100%;
  background-image: none;
  padding: 11px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 213px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 167px;
    margin-left: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 50px;
    margin-left: 103px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 35px;
    margin-right: 56px;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1433px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 560px;
    margin-left: 8px;
  }

  .u-section-3 .u-form-1 {
    height: 775px;
    margin-top: 22px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 26px;
    margin-left: 7px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
  }
}